<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{main}">
  
  <head>
    <title>Cart</title>
  </head>
  <body>
     <main layout:fragment="content">

    <!-- Cart Items -->
    <div class="container cart">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${items}">
            <td>
              <div class="cart-info">
                <img th:src="${item.product.image}" alt="product image">
                <div>
                  <p th:text="${item.product.name}"></p>
                  <span>Price: $<span th:text="${item.product.price}"></span></span><br />
                  <form th:action="@{/remove-from-cart/{id}(id=${item.id})}" method="get">
                    <button type="submit" class="btn btn-1">remove</button>
                  </form>
                </div>
              </div>
            </td>
            <td>
              <span class="quantity-text" th:data-item-id="${item.id}" th:text="${item.quantity}"></span>
            </td>
            <td>$<span th:text="${item.totalPrice}"></span></td>
          </tr>
        </tbody>
      </table>
      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td th:text="'$' + ${subtotal}"></td>
          </tr>
          <tr>
            <td>Tax</td>
            <td th:text="'$' + ${tax}"></td>
          </tr>
          <tr>
            <td>Total</td>
            <td th:text="'$' + ${grand_total}"></td>
          </tr>
        </table>
        <a th:href="@{/checkout}" class="checkout btn">Proceed To Checkout</a>
      </div>  
    </div>
    </main>


    <!-- Custom Script -->
    <div layout:fragment="scripts">
    <script th:inline="javascript">
      /*<![CDATA[*/
      var shipping = /*[[${order.shipping}]]*/ false;

      if (shipping === false) {
          document.querySelector('.checkout').style.display = 'none';
      }
      /*]]>*/
    </script>
  
  </body>
</html>
