<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    
    <!-- Dynamic page title - child templates can override -->
    <title layout:title-pattern="$CONTENT_TITLE">Pink Bags</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.jpg}">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <!-- Child pages can add extra CSS -->
    <div layout:fragment="head"></div>
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header">
      <!-- Top Nav -->
      <div class="top-nav">
        <div id="phone" class="container d-flex">
          <p>Order Online Or Call Us: (+880) 2222-55555</p>
          <br />
          <p>Email: pinkbags@gmail.com</p>
        </div>
      </div>
      <div class="navigation">
        <div class="nav-center container d-flex">
          <img class="logo-pic" th:src="@{/images/logo.jpg}" alt="Pink Bags Logo">
          <a class="logo"><h1>Pink Bags</h1></a>

          <ul class="nav-list d-flex">
            <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
            <li class="nav-item"><a th:href="@{/product}" class="nav-link">Shop</a></li>
            <li class="nav-item"><a th:href="@{/terms}" class="nav-link">Terms</a></li>
            <li class="nav-item"><a th:href="@{/about}" class="nav-link">About</a></li>
            <li class="nav-item"><a th:href="@{/#phone}" class="nav-link">Contact</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}" class="nav-link">Log Out</a>
            </li>
          </ul>

          <div class="icons d-flex">
            <a th:href="@{/login}" class="icon"><i class="bx bx-user"></i></a>
            <a th:href="@{/product}" class="icon"><i class="bx bx-search"></i></a>
            <a th:href="@{/cart}" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex" id="cart-count" th:text="${cartItems}">0</span>
            </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>
      
      <!-- Hero section will be overridden by child templates -->
      <div layout:fragment="hero"></div>
    </header>

    <!-- Main content section - will be overridden by child templates -->
    <main layout:fragment="content"></main>

    <!-- Floating Chat Button -->
    <div id="chatWidget">
        <button id="openChat" class="btn btn-1" >Chat with us</button>
    </div>

<!-- Chat Box -->
    <div id="chatBoxContainer">
        <div id="chatBox"></div>
        <input type="text" id="chatInput" placeholder="Type your message...">
        <button id="sendBtn" class="btn btn-1" >Send</button>
    </div>


    <!-- Contact Section (common to all pages) -->
    <section class="section contact">
      <div id="contact" class="row">
        <div class="col">
          <h2>EXCELLENT SUPPORT</h2>
          <p>We love our customers and they can reach us any time of day. We will be at your service 24/7.</p>
          <a th:href="@{/#phone}" class="btn btn-1">Contact Info</a>
        </div>
        <div class="col">
          <form th:action="@{/#}" method="post">
            <div class="login-form">
              <input type="email" placeholder="Email Address" name="email" required>
              <button type="submit" class="btn btn-1">Send</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a th:href="@{/about}">About us</a>
          <a th:href="@{/#contact}">Contact Us</a>
          <a th:href="@{/terms}">Term & Conditions</a>
          <a th:href="@{/terms}">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a th:href="@{/#category}">Online Store</a>
          <a th:href="@{/#contact}">Customer Services</a>
          <a th:href="@{/#promotion}">Promotion</a>
          <a th:href="@{/#topbrands}">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class='bx bxl-facebook-square'></i></span>
          <span><i class='bx bxl-instagram-alt'></i></span>
          <span><i class='bx bxl-github'></i></span>
          <span><i class='bx bxl-twitter'></i></span>
          <span><i class='bx bxl-pinterest'></i></span>
        </div>
      </div>
    </footer>

    <!-- Common JavaScript -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Firebase App (compat version) -->
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app-compat.js"></script>

    <!-- Firebase Database (compat version) -->
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-database-compat.js"></script>

    <!-- Firebase Analytics (compat version, optional) -->
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics-compat.js"></script>

    <script>
      // Your Firebase config
      const firebaseConfig = {
        apiKey: "AIzaSyBdUftCfHWbS6w2GGVFHK978Rh_y3doSEM",
        authDomain: "pinkbags-chat.firebaseapp.com",
        databaseURL: "https://pinkbags-chat-default-rtdb.firebaseio.com",
        projectId: "pinkbags-chat",
        storageBucket: "pinkbags-chat.firebasestorage.app",
        messagingSenderId: "413763931021",
        appId: "1:413763931021:web:e8f891b11e2df189270bc4",
        measurementId: "G-1V1DV4E775"
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

    <!-- Other JS files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <script th:src="@{/js/slider.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/cart.js}"></script>
    <script th:src="@{/js/chatbox.js}"></script>

    
    <!-- Child pages can add extra scripts -->
    <div layout:fragment="scripts"></div>
  </body>
</html>
