<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{main}">
  
  <head>
    <title>Pink Bags</title>
  </head>
  
  <body>
    <main layout:fragment="content">
    <!-- Product Detail -->
    <section class="section product-detail">
      <div class="details container">
        <div class="left image-container">
          <div class="main">
            <!-- Fixed: use @{${...}} for dynamic paths -->
            <img th:src="@{${product.image}}" id="zoom" alt="Product Image" />
          </div>
        </div>

        <div class="right">
          <!-- Fixed: string interpolation instead of '+ ${...}' -->
          <span th:text="|Home/Shop/${#strings.capitalize(product.category.name)}|">Home/Shop/Category</span>
          <h1 th:text="${product.name}">Product Name</h1>
          <div class="price" th:text="'$' + ${product.price}">$0.00</div>
            <p th:text="${product.description}">Product description...</p>
                    <br>
                    <br>
                    <!-- Show stock info -->
                    <p class="stock-info" 
                      th:text="${product.stock > 0 ? 'In Stock: ' + product.stock : 'Out of Stock'}">
                      Stock Info
                    </p>
                    <br>
                    <br>
                    <ul>
                      <li>
                        <i class="bx bx-check"></i>
                        <span>Free delivery</span>
                      </li>
                      <li>
                        <i class="bx bx-check"></i>
                        <span>2 week return policy</span>
                      </li>
                      <li>
                        <i class="bx bx-check"></i>
                        <span>Secure payment</span>
                      </li>
                    </ul>
                  
                      <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                      </div>
                      <!-- If logged in, show Add to Cart button -->
                      <button type="button"
                      sec:authorize="isAuthenticated()"
                      th:attr="data-product=${product.id},data-action='add'"
                      class="update_cart btn btn-1">
                        Add To Cart
                      </button>
                      <!-- If not logged in, redirect to login page -->
                      <a th:href="@{/login}" 
                        sec:authorize="!isAuthenticated()"
                        class="btn btn-1">
                          Add To Cart
                      </a>
         

        </div>
      </div>
    </section>

    <!-- Related Products -->
    <section class="section featured">
      <div class="top container">
        <h1>Related Products</h1>
        <a th:href="@{/product}" class="view-more">View more</a>
      </div>

      <div class="product-center container">
        <div class="product-item" th:each="rel : ${randomProducts}">
          <div class="overlay">
            <a th:href="@{/product/{id}(id=${rel.id})}" class="product-thumb">
              <!-- Fixed: use @{${...}} -->
              <img th:src="@{${rel.image}}" th:alt="${rel.name}" />
            </a>
            <span class="discount" th:if="${rel.discount != null}" th:text="${rel.discount + '%'}"></span>
          </div>

          <div class="product-info">
            <span th:text="${#strings.toUpperCase(rel.category.name)}">CATEGORY</span>
            <a th:href="@{/product/{id}(id=${rel.id})}" th:text="${rel.name}">Product Name</a>
            <h4 th:text="'$' + ${rel.price}">$0.00</h4>
            <!-- <div class="rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div> -->
          </div>

          <ul class="icons">
            <li sec:authorize="isAuthenticated()">
              <i th:attr="data-product=${rel.id},data-action='add'" class="bx bx-cart update_cart"></i>
            </li>
            <li sec:authorize="!isAuthenticated()">
              <a th:href="@{/login}">
                <i class="bx bx-cart"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

           <!-- Notification message container -->
      <div id="cart-message" class="cart-message"></div>


   </main>

    <!-- Scripts -->
    <div layout:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script th:src="@{/js/zoomsl.min.js}"></script>

    <script>
      $(document).ready(function () {
        console.log("Page loaded, initializing zoom...");
        if (typeof $.fn.imagezoomsl === "function") {
          $("#zoom").imagezoomsl({ zoomrange: [4, 4] });
        }
      });
    </script>
    </div>
  </body>
</html>
